{% extends 'layout.html' %}

{% block body %}landing-page{% endblock %}

{% block title %} Register | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
  <div class="d-flex justify-content-between align-items-center mt-4">
      <div>
        <a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a>
     </div>

  </div>
</div>
{% endblock %}

{% block body__content %}
<div class="main_container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  
  <form action="{{ url_for('auth.register') }}" method="POST" novalidate class="p-4 bg-light rounded shadow" style="max-width: 600px; width: 100%;">
    {{ form.csrf_token }}
    <h2 class="text-center">“Your Heath Journey Begins Here”</h2>
   
   
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="max-width: 600px; width: 100%; margin-bottom: 1rem;">
      {% for category, message in messages %}
        <div class=" text-center alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <div class="row mt-3 mb-3">
      <div class="col-md-6">
        {{ form.p_name.label(class="form-label fw-semibold") }}
        {{ form.p_name(class="form-control", placeholder="Enter your name") }}
        {% for error in form.p_name.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="col-md-6">
        {{ form.p_email.label(class="form-label fw-semibold") }}
        {{ form.p_email(class="form-control", placeholder="Enter your email") }}
        {% for error in form.p_email.errors %}
          <small class="text-danger">{{error}}</small>
        {% endfor %}
      </div>
    </div>

    <div class="mb-3">
      {{ form.p_password.label(class="form-label fw-semibold") }}
      {{ form.p_password(class="form-control", placeholder="Create a password") }}
      {% for error in form.p_password.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.p_address.label(class="form-label fw-semibold") }}
      {{ form.p_address(class="form-control", rows="3", placeholder="Enter your address") }}
      {% for error in form.p_address.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}    </div>

    <div class="row mb-3">
      <div class="col-md-6">
         {{ form.p_dob.label(class="form-label fw-semibold") }}
        {{ form.p_dob(class="form-control") }}
        {% for error in form.p_dob.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="col-md-6">
       {{ form.p_tel.label(class="form-label fw-semibold") }}
        {{ form.p_tel(class="form-control", placeholder="Enter your phone number") }}
        {% for error in form.p_tel.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
    </div>

    {{ form.submit(class="btn btn-primary w-100 fw-semibold") }}
  </form>
</div>

{% endblock %}

{% block footer %}
  <footer class="py-3 text-center mt-auto">
     <small class="text-muted my-3 landing_footer">&copy; 2025 | NHS Hospital Management System</small>
  </footer>
{% endblock %}
