{% extends 'layout.html' %}
{% block body %}landing-page{% endblock %}

{% block title %}Dr. {{ doctor.doc_name }} Availability | NHS Patient{% endblock %}

{% block navbar %}
<div class="container nav_bar">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> Health Management System</a></div>
        <div><a href="{{ url_for('patient.search_doctor') }}"><strong>SEARCH DOC/BOOK APPOINTMENT/DOC-AVAILABILITY |</strong> &nbsp; ← Back to Search</a></div>
    </div>
</div>
{% endblock %}


{% block body__content %}
<div class="main_container dashboard mt-4 mx-auto bg-white" style="max-width: 900px; border-radius: 2rem; padding: 20px; overflow-y:auto;">
    <h2 class="text-center mb-4">Dr. {{ doctor.doc_name }}'s Availability</h2>
    {% if schedules %}
    <div style="overflow-x: auto;">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Available Slots</th>
                </tr>
            </thead>
            <tbody>
            {% for sdoc in schedules %}
                <tr> 
                    <td>{{ sdoc.schedule_date.strftime('%A, %b %d, %Y') }}</td>
                    <td>{{ sdoc.schedule_time.strftime('%H:%M') if sdoc.schedule_time else 'Anytime' }}</td>
                    <td>{{ sdoc.nop if sdoc.nop is not none else 'Unlimited' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% else %}
        <p class="text-center">No availability information found for this doctor.</p>
    {% endif %}
</div>
{% endblock %}
