{% extends 'layout.html' %}
{% block body %} landing-page {% endblock %}
{% block title %} My Appointments | NHS Hospital {% endblock %}


{% block navbar %}
<div class="container nav_bar">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a></div>
        <div><a href="{{ url_for('patient.dashboard') }}"><strong> LIST APPOINTMENT |</strong>&nbsp;  ← Back to Dashboard </a></div>
    </div>
</div>
{% endblock %}


{% block body__content %}
<div class="main_container  mx-3 bg-white p-4 shadow-sm rounded-4"
     style="width: 98%; height: 91vh; overflow-y: auto;">
    <div style="width:100%;text-align:center;">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show py-2 px-3"
             role="alert"
             style="display:inline-block;max-width:400px;min-width:400px;font-size:1rem;">
          {{ message }}
          <button type="button" style="padding-top: 0.7rem;
    ,padding-right: 1rem;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>


     <table class="table table-hover">
     <thead>
     <tr>
      <th>Appo ID</th>
       <th>Time</th>
       <th>Patient Name</th>
       <th>Status</th>
       <th>Actions</th>
     </tr>
     </thead>


     <tbody>
     {% for appt in appointments %}
     <tr>
       <td>{{ appt.appo_id }}</td>    
       <td>{{ appt.appo_date.strftime('%Y-%m-%d') }} {{ appt.appo_time.strftime('%H:%M') }}</td>
       <td>{{ appt.doctor.doc_name if appt.patient else 'N/A' }}</td>
       <td>{{ appt.status }}</td>
       <td>
          <div class="d-flex gap-2 action-buttons">
  
            <a href="{{ url_for('patient.treatment_history', patient_id=current_user.p_id) }}"  class="btn btn-add ">View Treatment</a>
            
        
            <form method="POST" action="{{ url_for('patient.cancel_appointment', appo_id=appt.appo_id, status='Cancelled') }}"
                  onsubmit="return confirm('Are you sure you want to cancel this appointment?');">
              <button type="submit" class="btn btn-cancel">Cancel</button>
            </form>
          </div>
       
       </td>
     </tr>
     {% else %}
     <tr><td colspan="4">No appointments found.</td></tr>
     {% endfor %}
   </tbody>

    </table>

</div>

{% endblock %}