{% extends 'layout.html' %}

{% block body %} landing-page {% endblock %}

{% block title %} ADD - DOC | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
  <div class="d-flex justify-content-between align-items-center mt-4">
    <div>
      <a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a>
    </div>
    <div><a href="{{ url_for('admin.dashboard') }}"><strong>ADD DOCTOR |</strong> &nbsp; ← Back to Dashboard </a></div>
  </div>
</div>
{% endblock %}

{% block body__content %}
<div 
  class="main_container register_form d-flex justify-content-center align-items-start"
  style="min-height:40vh; overflow-y:auto;"
>
  <div class="container" style="max-width: 500px; overflow-y:auto;">
    <form method="POST" novalidate autocomplete="off" action="{{ url_for('admin.add_doctor') }}" class="p-4 bg-light rounded shadow">
      {{ form.csrf_token }}
      <h2 class="text-center mb-2">Add-Doctor Details</h2>
     
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="max-width: 600px; width: 100%; margin-bottom: 1rem;">
      {% for category, message in messages %}
        <div class=" text-center alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

      <div class="mb-2">
        {{ form.doc_name.label(class="form-label fw-semibold") }}
    {{ form.doc_name(class="form-control") }}
    {% for error in form.doc_name.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </div>
      <div class="mb-2">
        {{ form.doc_email.label(class="form-label fw-semibold") }}
    {{ form.doc_email(class="form-control") }}
    {% for error in form.doc_email.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </div>
      <div class="mb-2">
        {{ form.doc_password.label(class="form-label fw-semibold") }}
    {{ form.doc_password(class="form-control") }}
    {% for error in form.doc_password.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </div>
      <div class="mb-2">
        {{ form.doc_nic.label(class="form-label fw-semibold") }}
    {{ form.doc_nic(class="form-control") }}
    {% for error in form.doc_nic.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </div>
      <div class="mb-2">
        {{ form.doc_tel.label(class="form-label fw-semibold") }}
    {{ form.doc_tel(class="form-control") }}
    {% for error in form.doc_tel.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </div>
      <div class="mb-3"> 
        {{ form.specialty_id.label(class="form-label fw-semibold") }}
    {{ form.specialty_id(class="form-select") }}
    {% for error in form.specialty_id.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
      </select>
      </div>
        {{ form.submit(class="btn btn-primary w-100") }}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  <footer class="py-3 text-center mt-auto">
     <small class="text-muted my-3 landing_footer">&copy; 2025 | NHS Hospital Management System</small>
  </footer>
{% endblock %}