{% extends 'layout.html' %}

{% block body_class %} landing-page {% endblock %}

{% block title %} ADD - DOC | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
  <div class="d-flex justify-content-between align-items-center mt-4">
    <div>
      <a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div 
  class="main_container register_form d-flex justify-content-center align-items-start"
  style="min-height:40vh;"
>
  <div class="container" style="max-width: 500px;">
    <form method="POST" autocomplete="off" action="{{ url_for('admin.add_doctor') }}" class="p-4 bg-light rounded shadow">
      <h2 class="text-center mb-2">Add-Doctor Details</h2>
     
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="max-width: 600px; width: 100%; margin-bottom: 1rem;">
      {% for category, message in messages %}
        <div class=" text-center alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

      <div class="mb-2">
        <label for="doc_name" class="form-label">Full Name:</label>
        <input type="text" class="form-control" id="doc_name" name="doc_name" required>
      </div>
      <div class="mb-2">
        <label for="doc_email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="doc_email" name="doc_email" required>
      </div>
      <div class="mb-2">
        <label for="doc_password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="doc_password" name="doc_password" required>
      </div>
      <div class="mb-2">
        <label for="doc_nic" class="form-label">NIC:</label>
        <input type="text" class="form-control" id="doc_nic" name="doc_nic">
      </div>
      <div class="mb-2">
        <label for="doc_tel" class="form-label">Phone Number:</label>
        <input type="text" class="form-control" id="doc_tel" name="doc_tel">
      </div>
      <div class="mb-3">
        <label for="specialty_id" class="form-label">Specialty</label>
        <select class="form-select" id="specialty_id" name="specialty_id" required>
        <option value="" disabled selected>Select specialty</option>
        {% for spec in specialties %}
          <option value="{{ spec.id }}">{{ spec.s_name }}({{ spec.id }})</option>
        {% endfor %}
      </select>
      </div>
      <button type="submit" class="btn btn-primary w-100">Add Doctor</button>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  <footer class="py-3 text-center mt-auto">
     <small class="text-muted my-3 landing_footer">&copy; 2025 | NHS Hospital Management System</small>
  </footer>
{% endblock %}