{% extends 'layout.html' %}
{% block body %} landing-page {% endblock %}

{% block title %} Appointment List | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a></div>
        <div><a href="{{ url_for('admin.dashboard') }}"><strong>APPOINTMENT'S LIST | </strong> &nbsp;  ← Back to Dashboard </a></div>
    </div>
</div>
{% endblock %}
{% block body__content %}
<div class="main_container  mx-3 bg-white p-4 shadow-sm rounded-4"
     style="width: 98%; height: 91vh; overflow-y: auto;">      
     <table class="table table-hover">
        <thead>
         <tr>
           <th>ID</th>
           <th>Patient</th>
           <th>Doctor</th>
           <th>Specialization</th>
           <th>Appointment Date</th>
           <th>Appointment Time</th>
           <th>Status</th>
           <th >Actions</th>
         </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.patient_name }}</td>
            <td>{{ appointment.doctor_name }}</td>
            <td>{{ appointment.specialization }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.status }}</td>
            <td>
             
                <form action="{{ url_for('admin.cancel_appointment', appo_id=appointment.appo_id) }}" method="POST" style="display:inline;">
                  <button type="submit" class="btn text-white btn-cancel btn-xs" onclick="return confirm('Are you sure you want to cancel this appointment?');">
                    Cancel
                  </button>
                </form>
            </td>
          </tr>
          {% endfor %}
       </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}
