{% extends 'layout.html' %}
{% block body_class %} landing-page {% endblock %}

{% block title %} Appointment List | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a></div>
        <div><a href="{{ url_for('admin.dashboard') }}">APPOINTMENT'S LIST | ← Back to Dashboard </a></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="main_container list_appo mx-3 bg-white p-4" style="min-height: calc(100vh - 75px);">
      <table class="table table-hover">
        <thead>
         <tr>
           <th>ID</th>
           <th>Patient</th>
           <th>Doctor</th>
           <th>Specialization</th>
           <th>Appointment Date</th>
           <th>Appointment Time</th>
           <th>Status</th>
           <th >Actions</th>
         </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.patient_name }}</td>
            <td>{{ appointment.doctor_name }}</td>
            <td>{{ appointment.specialization }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.status }}</td>
            <td>
             
              <button type="button" class="btn btn-danger btn-xs delete" id="{{ appointment.id }}">Delete</button>
            </td>
          </tr>
          {% endfor %}
       </tbody>
      </table>
    </div>
 </div>
</div>
{% endblock %}
