{% extends 'layout.html' %}
{% block body %} landing-page {% endblock %}

{% block title %} Doctors List | NHS Hospital {% endblock %}

{% block navbar %}
<div class="container nav_bar">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong> &nbsp; Health Management System</a></div>
        <div><a href="{{ url_for('admin.dashboard') }}"><strong>DOCTOR'S LIST |</strong> &nbsp; ← Back to Dashboard</a></div>
    </div>
</div>
{% endblock %}

{% block body__content %}
<div class="main_container pd_details mx-3 bg-white p-4" style="min-height: calc(100vh - 75px);">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>NIC No</th>
                <th>Contact</th>
                <th>Specialty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.doc_id }}</td>
                <td>{{ doctor.doc_name }}</td>
                <td>{{ doctor.doc_email }}</td>
                <td>{{ doctor.doc_nic }}</td>
                <td>{{ doctor.doc_tel }}</td>
                <td>{{ doctor.speciality.s_name }}</td>
                <td>
                    <button type="button" class="detail_btn btn btn-edit "><a href="{{ url_for('admin.edit_doctor', doctor_id = doctor.doc_id) }}">Edit</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}