{% extends 'layout.html' %}
{% block body %} landing-page {% endblock %}
{% block title %}Patients List | NHS Hospital{% endblock %}

{% block navbar %}
<div class="container nav_bar">
  <div class="d-flex justify-content-between align-items-center mt-2">
      <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong>  &nbsp;   Health Management System</a> </div>
      <div ><a  href="{{ url_for('admin.dashboard') }}"><strong>PATIENT'S LIST |</strong>&nbsp; ← Back to Dashboard</a></div>
  </div>  
</div>
{% endblock %}

{% block body__content %}
<div class="main_container  mx-3 bg-white p-4 shadow-sm rounded-4"
     style="width: 98%; height: 91vh; overflow-y: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Contact</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.p_id }}</td>
        <td>{{ patient.p_name }}</td>
        <td>{{ patient.p_email }}</td>
        <td>{{ patient.p_dob }}</td>
        <td>{{ patient.p_tel }}</td>
        <td>
           <button class="detail_btn btn btn-info"><a href="{{ url_for('admin.edit_patient', patient_id = patient.p_id) }}">Edit</a></button>
          <button class="btn btn-view" ><a href={{ url_for('admin.ptreatment_history', patient_id=patient.p_id)}}>Treatment History</a></button>
         
           
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
