{% extends 'layout.html' %}

{% block body_class %}landing-page{% endblock %}

{% block navbar %}
<div class="container nav_bar">
  <div class="d-flex justify-content-between align-items-center mt-4">
      <div><a href="{{ url_for('main.landing_page') }}"><strong>NHS |</strong>  &nbsp;   Health Management System</a> </div>
      <div ><a  href="{{ url_for('auth.register') }}">REGISTER HERE</a></div>
  </div>  
</div>
{% endblock %}

{% block content %}
<div class="main_container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <h1 class="landing_h2">Welcome to NHS Hospital Management System</h1>
    <h4 class="landing_p mt-2">Streamline patient records, doctor appointments, and hospital workflows all in one place.</h4>
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary landing_btn mt-2" style="width: 20%;">LOGIN</a>
</div>
{% endblock %}

{% block footer %}
        <footer class=" py-3 text-center mt-auto ">
             <small class="text-muted  landing_footer">&copy; 2025 | NHS Hospital Management System</small>
        </footer>
{% endblock %}
