<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- bootstrap -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

   <!--css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   <!-- icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

   
   <title>{% block title %}  NHS  | Hospital{% endblock %}</title>
</head>
<body class="{% block body %}{% endblock %}">
    {% block navbar %}{% endblock %}

    <main>
        {% block body__content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <!--Charts--> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
